*.o
*.obj
*.lo
*.pyc
*.pyo
# python动态链接库
#*.pyd
**/.git/
*.exe
*.pdb
*.log
*.pch
**/*.tlog/
*.idb
*~
*.ipch
*.VC.db
**/.vs/
**/.qtc_clangd/
*.ilk
/archives/
/backup/
/netdisk/
/go/src/github.com/runsys/mwdb/test/
*.sdf
/book/
/mdx词典/
*.apk
*~
#c动态链接库
#*.dll
*.test
*.pack
**temp/
**cache/
*.7z
